/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/menulist-shared.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

label {
  margin: 0 var(--space-xsmall);
}

:host([native]) {
  appearance: auto;
  -moz-default-appearance: menulist;
  margin: var(--space-xxsmall) var(--space-xsmall);
  color: FieldText;
  text-shadow: none;
}

:host([native][disabled="true"]) {
  background-color: -moz-Dialog;
  color: var(--text-color-disabled);
}

/* Label box */

#label-box[native] {
  align-items: center;
  justify-content: center;
}

:host([native]:not([open="true"]):focus) > #label-box {
  background-color: SelectedItem;
  color: SelectedItemText;
}

:host([native]:not([open="true"]):-moz-focusring) > #label-box {
  outline: var(--default-focusring);
}


@media not (prefers-contrast) {
  #label-box[native] {
    background-color: transparent !important;
    color: inherit !important;
  }

  image[native],
  label[native] {
    margin-block: -1px !important;
  }

  dropmarker[native] {
    margin-inline: 3px -3px;
  }
}
