/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background: linear-gradient(to bottom, #540841 0%,#330128 93%,#28001e 97%,#1e0016 100%);
  color: #fff;
  color-scheme: dark;
}

#rightBox {
  background-size: auto 33px;
  margin-inline: 30px;
}

#bottomBox {
  background-color: hsla(0, 43%, 10%, 0.5);
  padding: 15px 10px 15px;
}

#trademark {
  font-size: xx-small;
  text-align: center;
  color: #999999;
  margin-block: 10px;
}
