/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/content/elements/moz-badge.tokens.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

menupopup,
panel {
  --menu-icon-opacity: 1;
  --menu-arrow-width: 1em;
  --menuitem-max-width: 42em;

  @media (-moz-platform: windows) {
    --menu-arrow-width: max(1em, var(--size-item-small));

    @media (prefers-color-scheme: light) {
      --menu-icon-opacity: var(--opacity-deemphasized);
    }
  }
}

/* Menu separator */

menuseparator {
  /* Using padding instead of margin to increase the hit area, as some
     separators (e.g. in bookmarks menus) can be dragged or have a context
     menu. */
  padding-block: var(--space-xsmall);

  @media (-moz-platform: macos) {
    padding-block: var(--space-xsmall);
    margin-inline: var(--space-small);
  }
}

menuseparator::before {
  border-top: 1px solid var(--panel-separator-color);
  content: "";
  display: block;
  flex: 1;
}

/* Accel text */

@media not (prefers-contrast) {
  menuitem:not([disabled]) > .menu-accel-container > :is(.menu-accel, .menu-iconic-accel) {
    color: var(--text-color-disabled);
  }
}

/* Scroll buttons */

/* Hide arrow buttons when there's nothing to scroll in that direction */
.menupopup-arrowscrollbox[scrolledtostart]::part(scrollbutton-up),
.menupopup-arrowscrollbox[scrolledtoend]::part(scrollbutton-down) {
  display: none;
}

/* Prevent the scrolled contents of the menupopup from jumping vertically when
 * the arrow buttons appear / disappear, by positioning ::part(scrollbox) in
 * such a way that its edges are at the same position as the edges of
 * arrowscrollbox regardless of scroll button visibility.
 */

.menupopup-arrowscrollbox {
  /* Scrollbutton height derived from toolbarbutton list-style-image SVG width
   * of 12px and padding-block of 2px as defined in arrowscrollbox.css.
   */
  --scrollbutton-height: calc(12px + 2px + 2px);
}

.menupopup-arrowscrollbox:not([scrolledtostart])::part(scrollbox) {
  /* scrollbutton-up is visible; shift our top edge up by its height. */
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  margin-top: calc(-1 * var(--scrollbutton-height));
  border-top: var(--scrollbutton-height) solid transparent;
}

.menupopup-arrowscrollbox:not([scrolledtoend])::part(scrollbox) {
  /* scrollbutton-down is visible; shift our bottom edge down by its height. */
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  margin-bottom: calc(-1 * var(--scrollbutton-height));
  border-bottom: var(--scrollbutton-height) solid transparent;
}

@media (-moz-platform: windows) or (-moz-platform: linux) {
  menupopup,
  menubar {
    font: menu;
  }
}

@media (-moz-platform: macos) {
  menupopup {
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font: -moz-pull-down-menu;

    /* On macOS, native menu icons should always be black by default so that
       they are considered template images. Template images should be used
       whenever possible so that the OS can manage the icon color, as the OS
       theme may differ from our theme. */
    menubar[native] &,
    &:not([native="false"]) {
      --menuitem-icon-fill: black;
    }
  }
}

menu,
menuitem,
menucaption {
  border-radius: 3px;
  align-items: center;
  flex-shrink: 0;
  list-style-image: none;
  max-width: var(--menuitem-max-width);

  @media (-moz-platform: linux) {
    padding: 4px 6px;
  }

  @media (-moz-platform: macos) {
    padding: 3px 9px;
  }
}

menu,
menuitem {
  -moz-context-properties: fill;
  fill: var(--menuitem-icon-fill);

  &:where([disabled]) {
    color: var(--text-color-disabled);
    text-shadow: none;
  }

  &:where([_moz-menuactive]:not([disabled])) {
    color: -moz-menuhovertext;
    background-color: -moz-menuhover;
  }

  &:where([_moz-menuactive="true"][disabled]) {
    background-color: -moz-menuhoverdisabled;
  }
}

menuitem:is([default="true"], .spell-suggestion),
menucaption {
  font-weight: var(--font-weight-bold);
}

/* ..... menu arrow box ..... */

.menu-right {
  list-style-image: url("chrome://global/skin/icons/arrow-right.svg");
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--menu-icon-opacity);

  &:-moz-locale-dir(rtl) {
    list-style-image: url("chrome://global/skin/icons/arrow-left.svg");
  }

  > image {
    width: var(--menu-arrow-width);
  }

  @media (-moz-platform: linux) {
    margin-block: 0;
    margin-inline: 0.5em 0;
  }

  @media (-moz-platform: macos) {
    margin-inline: var(--space-xlarge) calc(-1 * var(--space-xxsmall));
  }

  @media (-moz-platform: windows) {
    margin-inline-end: 1em;
  }
}

@media (-moz-platform: macos) {
  :is(.menu-accel, .menu-iconic-accel)[value] {
    margin-inline-start: 25px;
  }

  /* On macOS, empty acceltext shouldn't take up any space */
  :is(menu, menuitem):not([acceltext]) > .menu-accel-container {
    display: none;
  }
}
