/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://browser/skin/browser-shared.css");
@import url("chrome://browser/skin/contextmenu.css");

@namespace html url("http://www.w3.org/1999/xhtml");

#main-menubar > menu {
  appearance: none;
  color: inherit;

  &[_moz-menuactive] {
    background-color: light-dark(hsla(0,0%,0%,.12), hsla(0,0%,100%,.22));
    color: inherit;

    @media (prefers-contrast) {
      background-color: -moz-menuhover;
      color: -moz-menuhovertext;
    }
  }
}

#menubar-items {
  flex-direction: column; /* for flex hack */
  justify-content: normal; /* align the menubar to the top also in customize mode */
}

:root[tabsintitlebar]:not([lwtheme], [builtintheme]) {
  @media (-moz-windows-mica) or ((-moz-windows-accent-color-in-titlebar) and -moz-pref("browser.theme.windows.accent-color-in-tabs.enabled")) {
    --toolbox-background-color: ActiveCaption;
    --toolbox-text-color: CaptionText;
    --toolbox-background-color-inactive: InactiveCaption;
    --toolbox-text-color-inactive: InactiveCaptionText;
  }

  @media (-moz-windows-mica) {
    background-color: transparent;
    @media -moz-pref("widget.windows.mica.toplevel-backdrop", 2) {
      /* For acrylic, do the same we do for popups to guarantee some contrast */
      /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens, stylelint-plugin-mozilla/no-base-design-tokens */
      background-color: light-dark(var(--color-white-alpha-60), var(--color-black-alpha-60));
    }

        /* Accent color in titlebar overrides Mica. */
        @media not (-moz-windows-accent-color-in-titlebar) {
          /* Hide the Firefox buttons since Windows draws their own.
           * FIXME(emilio): Find a way of hiding the native buttons, or make them
           * taller, this is very hacky. */
          .titlebar-buttonbox {
            opacity: 0;
          }
        }

    /* Using a semitransparent background preserves the tinting from the backdrop.
     * Note that the toolbar text color from browser-colors.css should be ok,
     * as the backdrop matches our color scheme. The .6 matches what we do for
     * acrylic, and the .15 matches the 85% we do for the default toolbar
     * background on the native theme. */
    --toolbar-background-color: light-dark(var(--color-white-alpha-60), var(--color-white-alpha-20));
  }

  @media (-moz-windows-accent-color-in-titlebar) and ((-moz-windows-mica) or -moz-pref("browser.theme.windows.accent-color-in-tabs.enabled")) {
    body {
      /* These colors match the Linux/HCM default button colors. We need to
       * override these on the toolbox-like elements because the accent color
       * is arbitrary, so the hardcoded brand colors from browser-colors.css
       * might not provide sufficient contrast. */
      --toolbarbutton-icon-fill: currentColor;
      --toolbar-field-text-color: currentColor;
      --urlbar-box-background-color: var(--button-background-color-hover);
      --urlbar-box-background-color-focus: var(--button-background-color);
      --urlbar-box-background-color-hover: var(--button-background-color-hover);
      --urlbar-box-background-color-active: var(--button-background-color-active);
    }
  }
}

/* This is needed for Windows 10, see bug 1961257 */
@media (-moz-windows-accent-color-in-titlebar) {
  :root[tabsintitlebar][sizemode="normal"] #navigator-toolbox {
    border-top: 0.5px solid ActiveBorder;
    &:-moz-window-inactive {
      border-top-color: InactiveBorder;
    }
  }
}

@media not (-moz-platform: windows-win7) {
  @media not (-moz-platform: windows-win8) {
    /* On Windows 10, when temporarily showing the menu bar, make it at least as
     * tall as the tab bar such that the window controls don't appear to move up. */
    :root[tabsintitlebar] #toolbar-menubar[autohide="true"] {
      height: calc(var(--tab-min-height) - var(--tabs-navbar-shadow-size));
    }
    :root[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"] {
      height: calc(var(--tab-min-height) - var(--tabs-navbar-shadow-size));
    }
  }
}

/* Add 4px extra margin on top of the tabs toolbar on Windows 7. */
@media (-moz-platform: windows-win7) {
  :root[sizemode="normal"][chromehidden~="menubar"] #TabsToolbar > .toolbar-items,
  :root[sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] ~ :is(#TabsToolbar, #nav-bar) > .toolbar-items {
    padding-top: 4px;
  }
}
/* Add a fog for background tabs to be visible on Windows 7 glass window background */
@media (-moz-platform: windows-win7) {
  @media (-moz-windows-default-theme) {
    &:not([lwtheme]) #TabsToolbar {
      isolation: isolate;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        @media -moz-pref("r3dfox.aero.fog", 2) {
          background-image: radial-gradient(ellipse at bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.5) 40%, transparent);
        }
        z-index: -1;
      }
    }
  }
}

@media not (-moz-windows-compositor),
       not (-moz-windows-default-theme) {
  /* Please keep the menu text colors in this media block in sync with
   * light-dark-overrides.css, minus the :not([lwtheme]) condition - see Bug 1165718.
   */
  :root[tabsintitlebar]:not([lwtheme]) {
    color: CaptionText;
  }

  :root[tabsintitlebar]:not([lwtheme]):-moz-window-inactive {
    color: InactiveCaptionText;
  }
}

@media (-moz-windows-classic) {
  /**
   * In the classic themes, the titlebar has a horizontal gradient, which is
   * problematic for reading the text of background tabs when they're in the
   * titlebar. We side-step this issue by layering our own background underneath
   * the tabs.
   */
  @media -moz-pref("r3dfox.aero.fog", 2) {
  :root[tabsintitlebar]:not([sizemode=fullscreen]) #TabsToolbar:not([lwtheme]) {
    background-image: linear-gradient(transparent, ActiveCaption);
    background-size: auto 200%;
  }

  :root[tabsintitlebar]:not([sizemode=fullscreen]) #TabsToolbar:not([lwtheme]):-moz-window-inactive {
    background-image: linear-gradient(transparent, InactiveCaption);
  }
  }

  /* Add a window top border for webextension themes */
  :root[tabsintitlebar][sizemode="normal"] #navigator-toolbox[lwtheme] {
    background-image: linear-gradient(to bottom,
          ThreeDLightShadow 0, ThreeDLightShadow 1px,
          ThreeDHighlight 1px, ThreeDHighlight 2px,
          ActiveBorder 2px, ActiveBorder 4px, transparent 4px);
  }

  :root[tabsintitlebar] :is(#TabsToolbar, #toolbar-menubar) toolbarbutton:not([lwtheme]) {
    color: inherit;
  }
}

@media not (-moz-windows-compositor) {
  #nav-bar[tabs-hidden="true"] {
    box-shadow: none;
  }
}
/* Titlebar */

@media not (-moz-platform: windows-win10) {
  :root[tabsintitlebar][sizemode="normal"] #titlebar {
    appearance: auto;
    -moz-default-appearance: -moz-window-titlebar;
  }

  :root[tabsintitlebar][sizemode="maximized"] #titlebar {
    appearance: auto;
    -moz-default-appearance: -moz-window-titlebar-maximized;
  }

  /* stylelint-disable-next-line media-query-no-invalid */
  @media -moz-pref("sidebar.verticalTabs") {
    :root[tabsintitlebar][sizemode="normal"] #titlebar,
    :root[tabsintitlebar][sizemode="maximized"] #titlebar {
      appearance: none;
    }

    :root[tabsintitlebar][sizemode="maximized"] .browser-titlebar {
      appearance: auto;
      -moz-default-appearance: -moz-window-titlebar-maximized;
    }
  }

  :root[tabsintitlebar][sizemode="normal"] #titlebar:has(#toolbar-menubar[autohide="false"]) ~ #nav-bar.browser-titlebar > .titlebar-buttonbox-container {display: none} /* Hack for vertical tabs */
  :root[tabsintitlebar][sizemode="maximized"] #titlebar:has(#toolbar-menubar[autohide="false"]) ~ #nav-bar.browser-titlebar > .titlebar-buttonbox-container {display: none}
}

@media not (-moz-windows-compositor) {
  /**
   * Anytime we're not using the compositor on Windows, the -moz-window-titlebar
   * and -moz-window-titlebar-maximized values for -moz-appearance override
   * backgrounds supplied by lwthemes. We make the #titlebar itself hidden, but
   * it's children visible in order to hide the background but keep the margin and
   * padding that comes from those -moz-window-titlebar rules.
   */
  :root:not([inFullscreen]) .browser-titlebar[lwtheme] {
    visibility: hidden;
  }
  :root:not([inFullscreen], [chromehidden~="menubar"]) #toolbar-menubar[lwtheme],
  :root:not([inFullscreen], [chromehidden~="toolbar"]) #TabsToolbar[lwtheme] {
    visibility: visible;
  }
}

@media (-moz-windows-classic) {
  :root[tabsintitlebar][sizemode="normal"] #toolbar-menubar {
    margin-top: 4px;
  }
}

.titlebar-buttonbox {
  /* For all Windows configurations except for Windows Aero and Windows Aero Basic,
   * the default -moz-default-appearance of -moz-window-button-box and
   * -moz-window-button-box-maximized adds unwanted margins to the button box. We
   * special case Windows Aero and Windows Aero Basic in browser-aero.css.
   */
  appearance: none;
  /* The button box must appear on top of the navigator-toolbox in order for
   * click and hover mouse events to work properly for the button in the restored
   * window state. Otherwise, elements in the navigator-toolbox, like the menubar,
   * can swallow those events.
   */
  z-index: 1;
}

.titlebar-buttonbox-container {
  align-items: stretch;
}

@media (-moz-platform: windows-win7),
       (-moz-platform: windows-win8) {
  /* Preserve window control buttons position at the top of the button box. */
  .titlebar-buttonbox-container {
    align-items: flex-start;
  }
}

/* add extra margin for unmaximized windows
   on Win XP Luna themes to look consistent */
@media not (-moz-windows-classic) {
  @media (-moz-platform: windows-winxp) {
    :root[tabsintitlebar]:not([sizemode="maximized"]) .titlebar-buttonbox-container {
      margin-top: 4px;
    }
  }
}

/* Window control buttons */

.titlebar-min {
  appearance: auto;
  -moz-default-appearance: -moz-window-button-minimize;
}

.titlebar-max {
  appearance: auto;
  -moz-default-appearance: -moz-window-button-maximize;
}

.titlebar-restore {
  appearance: auto;
  -moz-default-appearance: -moz-window-button-restore;
}

.titlebar-close {
  appearance: auto;
  -moz-default-appearance: -moz-window-button-close;
}

@media not (-moz-windows-classic) {
  .titlebar-min {
    margin-inline-end: 2px;
  }
}

:root[tabletmode] .titlebar-min,
:root[tabletmode] .titlebar-restore,
:root[tabletmode] .titlebar-max {
  display: none;
}

/* Bookmark menus */

.bookmark-item {
  &:is(menu, menuitem) {
    min-width: 0;
    max-width: 32em;
  }

  &:not(.subviewbutton) > .menu-iconic-left {
    margin-block: 0;
  }

  &[cutting] {
    > .toolbarbutton-icon,
    > .menu-iconic-left > .menu-iconic-icon {
      opacity: 0.5;
    }

    > .toolbarbutton-text,
    > .menu-iconic-left > .menu-iconic-text {
      opacity: 0.7;
    }
  }

  &:is(toolbarbutton)[dragover="true"][open="true"] {
    appearance: none;
    background: SelectedItem !important;
    color: SelectedItemText !important;
    fill: SelectedItemText;
  }
}

/* Bookmarks roots menu-items */

#bookmarksToolbarFolderMenu,
#BMB_bookmarksToolbar,
#panelMenu_bookmarksToolbar {
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.svg");
}

/* Address bar */

.urlbar,
#searchbar {
  font-size: 1.15em;
}

@media not (-moz-windows-default-theme) {
  :root {
    /* Windows HCM conventions use these colors for chiclets. We can't use them on
       other platforms because AccentColor can be shown atop SelectedItem,
       which has zero contrast. */
    --urlbar-box-background-color-hover: SelectedItem;
    --urlbar-box-background-color-active: SelectedItem;
    --urlbar-box-text-color-hover: SelectedItemText;
  }

  :root:not([lwtheme]) {
    :not([focused]) > .urlbar-background,
    #searchbar:not(:focus-within),
    .findbar-textbox:not(:focus) {
      border-color: ThreeDShadow;
    }
  }
}

/* Address bar results view */

@media not (-moz-windows-default-theme) {
  :root:not([lwtheme]) {
    --urlbar-popup-action-color: LinkText;
  }
}

/* Autocomplete */

#PopupAutoComplete > richlistbox > richlistitem[originaltype~="datalist-first"] {
  border-top: 1px solid ThreeDShadow;
}

/* Tabstrip */

#TabsToolbar {
  min-height: 0;
  padding: 0;
}

@media not (-moz-windows-default-theme) {
  /* For high contrast themes. XXX is this needed anymore? */
  #tabbrowser-tabpanels,
  :root[privatebrowsingmode="temporary"] #tabbrowser-tabpanels {
    background-color: -moz-default-background-color;
  }
}

/* All tabs menupopup */

.alltabs-item[selected="true"] {
  font-weight: var(--font-weight-bold);
}

#UITourTooltipButtons {
  /**
   * Override the --panel-padding so the background extends
   * to the sides and bottom of the panel.
   */
  margin-inline: -10px;
  margin-bottom: -10px;
}

/* Make menu items larger when opened through touch. */
panel[touchmode],
menupopup[touchmode] {
  --panel-menuitem-padding-block: 12px;
  --panel-menuitem-padding: var(--panel-menuitem-padding-block) var(--panel-menuitem-padding-inline);
  /* The value for the header back icon padding is selected in a way that the
   * height of the header and its separator will be equal to the panel inner
   * top padding plus standard menuitem, so that the header's separator will
   * be located excatly where a normal toolbarseparator would be located after
   * the first menuitem, in a menu without a header. */
  --panel-header-back-icon-padding: 10px;
}

:root[uidensity="compact"] panel[touchmode] {
  --panel-header-back-icon-padding: 12px;
}

menupopup[touchmode] :is(menu, menuitem, menucaption) {
  /* Use the var set in the rule above to increase menu items height in menupopups when
   * they are opened through touch.
   * Panel menu items already have their padding set in panelUI-shared.css with the same var. */
  padding-block: var(--panel-menuitem-padding-block);
}

#contentAreaContextMenu[touchmode] > #context-navigation > menuitem {
  /* The navigation menuitems are bigger to begin with because of their inner padding,
   * so calculate the padding-block to match normal menuitems height when in touchmode.
   * 3.5em is the desired menuitem height (~42px), minus the menuitem actual height devided by 2. */
  padding-block: calc((3.5em - 32px) / 2);
}

@media not (-moz-windows-non-native-menus) {
  #context-navigation {
    background-color: menu;
  }
}

@media (-moz-windows-non-native-menus) {
/* Other menu separators don't extend all the way to the menu edges, but the
   one below the navigation buttons in the content context menu should. */
#context-sep-navigation {
  padding-inline: 0;
}
}
